## 1. Create a list of numbers from 0 to 100 that are divisible by 4 or 5.

In [1]:
#create list from 0 to 100
list = range(101)

#create empty list to catch numbers
numbers = []

#check for divisibility
for i in list:
    if i % 5 == 0 or i % 4 == 0:
        numbers.append(i)
print(numbers)

[0, 4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [13]:
#create list from 0 to 100
list = range(101)

#create empty list to catch numbers
numbers = []

#check for divisibility
for i in list:
    if i % 5 == 0:
        numbers.append(i)
    elif i % 4 == 0:
        numbers.append(i)
numbers

[0,
 4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

In [ ]:
#advanced solution using "list comprehension" format
numbers = [i for i in range(101) if i % 5 == 0 or i % 4 == 0]
numbers

## 2. Add the numbers 3, 6, and 9 to the list and sort the list from least to greatest.

In [ ]:
#start with this, why does this solution not work?
numbers.append([3,6,9])

#remind students they will have to refresh the variable "numbers"

In [ ]:
#easy solution
numbers.append(3)
numbers.append(6)
numbers.append(9)

In [14]:
#this is a more robust solution
list2 = [3,6,9]

for i in list2:
    numbers.append(i)

numbers

[0,
 4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100,
 3,
 6,
 9]

In [ ]:
#even easier solution using the +
numbers + [3,6,9]

In [15]:
#sort the numbers
numbers.sort()
numbers

[0,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

## 3. Using the updated numbers list, create a dictionary for all the numbers and their squared values. (i.e., {0: 0, 3: 9, ...})

In [18]:
#show this step first to show how we could define the first few entries
test = {0: 0**2}
test.update({3: 3**2})
test

{0: 0, 3: 9}

In [17]:
#create empty set to catch dictionary
numbers_dict = {}

for i in numbers:
    numbers_dict.update({i: i**2})

numbers_dict

{0: 0,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 8: 64,
 9: 81,
 10: 100,
 12: 144,
 15: 225,
 16: 256,
 20: 400,
 24: 576,
 25: 625,
 28: 784,
 30: 900,
 32: 1024,
 35: 1225,
 36: 1296,
 40: 1600,
 44: 1936,
 45: 2025,
 48: 2304,
 50: 2500,
 52: 2704,
 55: 3025,
 56: 3136,
 60: 3600,
 64: 4096,
 65: 4225,
 68: 4624,
 70: 4900,
 72: 5184,
 75: 5625,
 76: 5776,
 80: 6400,
 84: 7056,
 85: 7225,
 88: 7744,
 90: 8100,
 92: 8464,
 95: 9025,
 96: 9216,
 100: 10000}

In [ ]:
#advanced solution using "dictionary comprehension" format
numbers_squared_dict = {i: i**2 for i in numbers}
numbers_squared_dict

## 4. Sum all the squared values in the dictionary.

In [19]:
#start with this solution, why is it wrong?
sum(numbers_dict)

2068

In [20]:
#correct solution
sum(numbers_dict.values())

138276