- Show running code with shift+enter
- Add several lines
- Show commands of adding above (a) and below (b)
- Command mode vs. Edit mode
- Delete cells using d+d
- Markdown (m) hotkey
- Code (y) hokey

In [1]:
#This is my first written code
print("Hello World")

Hello World

In [2]:
print(1+1)

# Heading level 1
## Heading level 2
### Heading level 3

2

use double space to create line breaks  
This is how to *italicize text*  
This is how to **bold text**  
This is how to do ***both***

We can generate lists too.
- First Item
* Second Item
+ Third Item
    * Sub Item

https://www.markdownguide.org/cheat-sheet/  
https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd

![](https://th.bing.com/th/id/OLC.HK0l9IPoKrRmaw480x360?&rs=1&pid=ImgDetMain)

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes.
</div>
    
<div class="alert alert-block alert-danger">
<b>Danger:</b> This alert box indicates a dangerous or potentially negative action.
</div>

\begin{equation}
\bar{x}=\sum_{i=1}^n \frac{x_i}{n}
\end{equation}

# Basic Data Types

## Defining a Variable

In [11]:
x = 3

In [17]:
print(x)
x

3

3

In [18]:
x
print(x)

3

In [35]:
x1 = 5
x1

5

In [36]:
del x1
x1

NameError: name 'x1' is not defined

In [24]:
1x = 5

SyntaxError: invalid decimal literal (1018838559.py, line 1)

In [29]:
y = 'random words'

In [30]:
print(y)

random words

In [31]:
type(text)

str

In [32]:
type(x1)

int

## Numbers

In [33]:
type(1.5)

float

In [3]:
123456.

123456.0

In [5]:
1.23456

1.23456

In [6]:
#take note: a float stores the numbers but also the location of the decimal.
type(123456)

int

In [44]:
2j

2j

In [45]:
type(2j)

complex

In [7]:
2j + 2j

4j

In [8]:
1j * 1j

(-1+0j)

## Strings

In [9]:
'Text 1' + 'Text 2'

'Text 1Text 2'

In [10]:
'1' + '2'

'12'

In [11]:
#we cannot combine a string an a text
'1' + 2

TypeError: can only concatenate str (not "int") to str

## Booleans

In [12]:
True

True

In [13]:
False

False

In [14]:
true = False

In [15]:
true

False

In [16]:
#if we want to compare two things against each other
True = False

SyntaxError: cannot assign to True (1601851819.py, line 1)

In [17]:
#we have to use the comparison operator of ==
True == False

False

In [29]:
#the not equal comparison
True != False

True

In [18]:
1 == 1

True

In [19]:
1 == 2

False

In [37]:
1 + 1 == 2

True

# Data Structures

## Lists

In [34]:
empty_list = []
type(empty_list)

list

In [35]:
list_1 = [1,2,3,4]
print(list_1)

[1, 2, 3, 4]

In [36]:
type(list_1)

list

In [37]:
list_2 = ['list', 'of', 'words']

In [38]:
list_3 = [list_1, list_2, False]
print(list_3)

[[1, 2, 3, 4], ['list', 'of', 'words'], False]

In [39]:
#we can get the length of a list using len()
len(list_1)

4

In [40]:
#why is the length smaller for list_3?
len(list_3)

3

In [41]:
#show tab feature to bring up some options (type list_1. then hit tab)
list_1.append(5)
list_1

[1, 2, 3, 4, 5]

In [42]:
list_1.remove(5)
list_1

[1, 2, 3, 4]

In [43]:
#we cannot just use the append function to add lists together
list_1.append(list_2)
list_1

[1, 2, 3, 4, ['list', 'of', 'words']]

In [44]:
list_1.insert(0,0)
list_1

[0, 1, 2, 3, 4, ['list', 'of', 'words']]

## Sets

In [39]:
set_1 = {1,2,3,4,5}
print(set_1)

{1, 2, 3, 4, 5}

In [40]:
type(set_1)

set

In [41]:
len(set_1)

5

In [80]:
set_2 = {1,1,2,3,2}
len(set_2)

3

In [81]:
print(set_2)

{1, 2, 3}

In [82]:
set_2 == {1,2,3}

True

In [88]:
set_2 == {3,2,1}

True

In [84]:
set_2 == {3,2,1,1,2,2}

True

In [52]:
{3,2,1,1,2,2}

{1, 2, 3}

In [43]:
#recreate our list
list_1 = [1,2,3,4]
list_1

[1, 2, 3, 4]

In [87]:
list_1 == [1,2,3,4]

True

In [44]:
#notice order matters for a list
list_1 == [4,3,2,1]

False

## Tuples

In [46]:
tuple_1 = (1,2,3)
tuple_1

(1, 2, 3)

In [47]:
type(tuple_1)

tuple

In [48]:
len(tuple_1)

3

In [49]:
tuple_1 == (3,2,1)

False

In [50]:
list_1.append(5)
print(list_1)

[1, 2, 3, 4, 5]

In [105]:
tuple_1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
#comparing it to sets, notice that it uses a completely different function to add
set_1.update({7})
print(set_1)

{1, 2, 3, 4, 5, 7}

- Why use tuples?
- Memory efficiency
    - Lists make assumption that it has to make extra space
    - Tuples use an exact amount of space
- Good for storing x,y coordinates

## Dictionaries

In [10]:
empty_dictionary = {}
type(empty_dictionary)

dict

In [1]:
dict_1 = {
    'sheepadoodle': 'Louie',
    'cockapoo': 'Zoe'
}
print(dict_1)

{'sheepadoodle': 'Louie', 'cockapoo': 'Zoe'}

In [2]:
#there are two components to dictionaries
#the first are the keys
dict_1.keys()

dict_keys(['sheepadoodle', 'cockapoo'])

In [3]:
#the second are the values
dict_1.values()

dict_values(['Louie', 'Zoe'])

In [4]:
dict_1['sheepadoodle']

'Louie'

In [5]:
dict_2 = {
    'sheepadoodle': 'Louie',
    'cockapoo': 'Zoe',
    'sheepadoodle': 'Luna'
}
print(dict_2)

{'sheepadoodle': 'Luna', 'cockapoo': 'Zoe'}

In [6]:
#just like with sets, we use the update function to add to a dictionary (use tab to show choices)
#notice we have to update it with a set 
dict_2.update({'labradoodle': 'Ava'})
dict_2

{'sheepadoodle': 'Luna', 'cockapoo': 'Zoe', 'labradoodle': 'Ava'}

In [7]:
del dict_2['labradoodle']
dict_2

{'sheepadoodle': 'Luna', 'cockapoo': 'Zoe'}

In [8]:
dict_2['labradoodle'] = 'Ava'
dict_2

{'sheepadoodle': 'Luna', 'cockapoo': 'Zoe', 'labradoodle': 'Ava'}

# Operators

## Arithmetic Operators

In [117]:
1 + 1

2

In [118]:
2 * 3

6

In [119]:
5 ** 2

25

In [121]:
20/5

4.0

In [122]:
20/3

6.666666666666667

In [123]:
20 % 4

0

In [124]:
20 % 3

2

In [38]:
#So how would we check if 20 is divisible by 5?
#What does it mean to be divisible by a number?
20 % 5 == 0

True

## String Arithmetic

In [125]:
'Text 1' + 'Text 2'

'Text 1Text 2'

In [126]:
'Text 1' + 4

TypeError: can only concatenate str (not "int") to str

In [127]:
#the * works as a "duplicate" function
'Text 1' * 4

'Text 1Text 1Text 1Text 1'

## Comparison Operators

In [128]:
1 == 1

True

In [129]:
4 > 5

False

In [130]:
3 <= 2

False

In [131]:
3 >= 2

True

## Logic Operators

In [137]:
True and True

True

In [138]:
False and False

False

In [139]:
True and False

False

In [140]:
True or False

True

In [66]:
#if the above didn't make sense, try thinking about it mathematically
12%3 == 0 and 12%6 == 0

True

In [67]:
9%3 == 0 and 9%6 == 0

False

In [68]:
9%3 == 0 or 9%6 == 0

True

In [141]:
#converting to opposites
not True

False

In [142]:
not False

True

## Membership Operators

In [143]:
list_1

[1, 2, 3, 4, 5]

In [144]:
1 in list_1

True

In [145]:
1 not in list_1

False

In [147]:
'dog' in 'I have dogs'

True

In [150]:
'dog' in 'dogma'

True

# Conditional Statements

## If/Else statements

In [154]:
a = 1
if a > 0:
    print('a is positive!')

a is positive!

In [155]:
a = -1
if a > 0:
    print('a is positive!')
else:
    print('a is negative!')

a is negative!

In [158]:
a = 0
if a > 0:
    print('a is positive!')
elif a == 0:
    print('a is zero!')
else:
    print('a is negative!')

a is zero

In [159]:
a = 0
b = 3
if a > 0:
    print('a is positive!')
elif a == 0:
    print('a is zero!')
    if b > 0:
        print('b is positive')
else:
    print('a is negative!')

a is zero!
b is positive

In [161]:
a = 1
b = 3
if a > 0:
    print('a is positive!')
elif a == 0:
    print('a is zero!')
    if b > 0:
        print('b is positive')
else:
    print('a is negative!')
print('we have a and b')

a is positive!
we have a and b

## For Loop

In [208]:
for i in dict_1:
    print(i)

sheepadoodle
cockapoo

In [209]:
for i in dict_1:
    print(dict_1[i])

Louie
Zoe

In [14]:
list_1 = [1, 2, 3, 4, 5]

In [15]:
for i in list_1:
    print(i)

1
2
3
4
5

In [20]:
new_list = []
for i in list_1:
    new_list.insert(0,i)
    print(new_list)

[5, 4, 3, 2, 1]

## While loops

In [166]:
a = 4
while a > 0:
    print(a)
    a = a - 1

4
3
2
1